@{
   
    Layout = "~/Views/Shared/_LayoutSalon.cshtml";
}


 <!-- banner bottom -->

<!-- //banner bottom -->
<!-- services -->

<!-- //services -->
<!-- services-main -->
<section class="about-w3ls py-md-5 py-3" id="about">
    <div class="container">
                <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="main-services" ng-repeat="Item in ListAllServicesOfSalon">
                    <div class="row">
                        <div class="col-2">
                            <span class="fas fa-angle-right"></span>
                        </div>
                        <div class="col-10">

                           
                            <h6>کد سرویس:{{Item.ID_Service}}</h6>
                            <h5>{{Item.Name}}</h5>
                            <!-- <p><img ng-src="@Url.Content("~/FileArchives/SalonService/{{Item.PicturePath}}")" alt="{{Item.PicturePath}}" class="img-fluid" /></p>-->
                            <p>


                            <p ng-bind-html="Item.Comment | unsafe" class="text-right "></p>
                            @* {{Item.Comment}}*@
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        <input type="button" class="btn btn-light" value="<<" ng-click="FuncGetServicesOfSalon(PageNumServicesOfSalon, PageSizeServicesOfSalon, 'Prev',ID_Salon)" />
        <input type="button" class="btn btn-light" value=">>" ng-click="FuncGetServicesOfSalon(PageNumServicesOfSalon, PageSizeServicesOfSalon, 'Next', ID_Salon)" />
        </div>
   
</section>
<!-- //services-main-->
<!-- articles -->
<h5 class="pt-4 pb-3">مقالات</h5>
<div class="d-flex flex-column bg-flex">
    <div class="p-2 bg-flex mb-1 bg-flex-item" ng-repeat="Item in ListAllArticleOfSalonManager">Flex item 1</div>
   
</div>
<!-- //articles -->
@section DeclareJS{


    <script src="~/Scripts/JSScripts/JSSalon/JSSalon.js"></script>}


