
@{
    ViewBag.Title = "ApproveMembership";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Title{  تایید عضویت}

  
<form name="myForm" novalidate ng-submit="ApproveMembership()">

     <input type="hidden" id="IDPerson" value="@Request.QueryString["id"]" />
   
    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary error-w3l-btn mt-sm-5 mt-3 px-4">تایید</button>
</form>


@section DeclareJS{
    <script src="~/Scripts/JSScripts/JSRegister/JSRegister.js"></script>
}




