@{
    ViewBag.Title = "AllSalon";
}



<div ng-repeat="Item in ListAllSalon" class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
    <div class="w3_agile_gallery_effect">
        <a href="@Url.Content("~/FileArchives/Salon/{{Item.PicturePath}}")" class="sb" title="{{Item.Name}}">
            <figure>
                <img ng-src="@Url.Content("~/FileArchives/Salon/{{Item.PicturePath}}")"  alt="{{Item.PicturePath}}"  class=" img-fluid" />
            </figure>
        </a>
    </div>
</div>

<div class="agileits_w3layouts_gallery_grid1 hover14">
    <div class="w3_agile_gallery_effect">
        <a href="images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
            <figure>
                <img src="images/g2.jpg" alt=" " class="img-fluid" />
            </figure>
        </a>
    </div>
</div>




<div class="agileits-services py-sm-5 pt-5" id="gallery">
    <div class="container pt-lg-5">
        <section class="agile_gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 gallery-left-grid">
                        <h3 class="agile-title pb-sm-5 pb-4">
                            <span>o</span>ur
                            <span>g</span>allery
                            <br> spa and theraphy center
                            <span class="title-pos" 0>we provide</span>
                        </h3>
                        <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="~/FileArchives/Salon/arm4_30-02-1398_15_53.png" alt=" " class=" img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

@section DeclareJS{


    <script src="~/Scripts/JSScripts/JSHome/JSAllSalon.js"></script>}






