
@{
    ViewBag.Title = "Gallery";
}

 <!-- inner banner -->
<div class="inner-banner">
    <!-- header -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
        <div class="container">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    NS
                </a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center align-items-center">
                    <li class="nav-item   mr-lg-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="/">
                            خانه
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="/Home/About">
                            درباره ما

                        </a>

                    </li>
                    <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3 active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            منو
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Home/Services">خدمات</a>
                            <a class="dropdown-item" href="/Home/Gallery">گالری</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="single.html">single page</a>

                        </div>
                    </li>
                    <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="/Home/Contact">تماس با ما</a>
                    </li>
                    <li class="nav-item  position-relative">
                        <a href="#menu" id="toggle">
                            <span></span>
                        </a>
                        <div id="menu">
                            <ul>

                                <li class="nav-item">
                                    <a href="typo.html" class="nav-link text-dark">Typography</a>
                                </li>
                                <li class="nav-item">
                                    <a href="error.html" class="nav-link text-dark">404</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /.container -->
    </nav>
    <!-- //header -->
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<!-- gallery -->
<div class="agileits-services py-sm-5 pt-5" id="gallery">
    <div class="container pt-lg-5">
        <section class="agile_gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 gallery-left-grid">
                        <h3 class="agile-title pb-sm-5 pb-4">
                            <span>o</span>ur
                            <span>g</span>allery
                            <br> spa and theraphy center
                            <span class="title-pos" 0>we provide</span>
                        </h3>
                        <div class="agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g1.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g2.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g3.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g3.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g4.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g4.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g5.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g5.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="agileits_w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                <a href="images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                    <figure>
                                        <img src="images/g1.jpg" alt=" " class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- //gallery -->

